:root{
  --blue: #25205aff;
  --amber: #ffe5a8ff;
  --cream: #FEFFDA;
  --light-red: #FD8787ff;
  --nyanza: #496292;
  scroll-behavior:smooth;
}

/*MEDIA QUERIES*/
@media (max-width: 440px) {
.logo{
  overflow: hidden;
  width: 0px;
  height: 0px;
}
grid {
    width: 100%;
    flex-direction: column;
  }

}

/* MAIN */
html{
  font-family:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
}
html, body {
  padding:0;
  margin: 0 ;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li{
  color:var(--blue);
  font-family:'Rubik';
}

ol{
  line-height:35px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 50px;
  text-align: center;
}
.description {
  font-size: 30px;
  text-align: center;
}
.disc {
  margin: 15px auto;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* GRID AND CARD */ 

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  font-family: inherit; /* Important for vertical align on mobile phones */
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0 !important;
  font-size: 1.5rem !important;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}


.social-icons {
  display: grid;
  font-size: 3rem;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
}
.end {
  height: 80px;
  border-top:5px solid var(--amber);
  background-color: var(--blue);
  color: var(--amber) !important;
  width: 100% !important;
  margin-bottom: 0 !important;
  position: fixed; 
  bottom: 0;

}
#endtext {
  color: var(--amber) !important;
  display: inline-block;
  padding: 5px 5px 3px 5px;
  margin: 0;
}

/* ALL LINKS */

.main-content:hover{
  color:blue;
}
.main-content:link{
color:black;
}
.AFAWEB {
  color: var(--saffron);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  font-family: Sans-serif;
}
a:visited {
  text-decoration:none;
}

/* CONTENT */


.Divider {
  border-top: 5px solid black;
  margin: 15px auto;
  width: 70%;
}

.button{
  border-radius:10px;
  background-color: var(--blue);
  border:var(--blue) 10px solid;
  color:var(--cream);
  font-weight:30px;
  font-style:strong;
  margin: 0 auto;
}
#textlink {
  text-decoration: none;
  color: var(--blue);
  margin-top: 40px;
  margin-bottom: 10px;
}

#small {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
}
#large {

  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 700px;
}

.ClubNews{
  display:flex;
  justify-content: center;
  font-style:strong;
  align-items: center;
  margin:auto;
  text-align:center;
  margin-top: 20px;
}

p{
  color:black;
}
.centerbut {
  text-align: center;
  text-decoration-line: none;

}

/* NAVBAR */

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: var(--blue);
  margin-bottom: 40px;
  border-bottom: 5px solid var(--amber);
}
.navlink {
  font-size: 25px;
  background-color: var(--blue);
  color: var(--amber);
  padding-top: 25px;
  width: 20%;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: none;
}

.navlink:hover {
  background-color: var(--nyanza);
}
.navlink:active {
  background-color: orange;
}
#spacer {
  height: 20px;
}

#articlelink {
  text-decoration: none;
  background-color: var(--blue);
  color: var(--amber);
  height: 80px !important;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0px 30px 0px;
  border: 5px solid var(--amber);
}

/*Nav*/ 

.tablink {
  border: none;
  height: 40px;
  display: inline-block;
}
.featuretitle{
  text-align:center;
  padding:0;
}

.tabcontent{
display:none;
  margin-top: 50px;
}
.more{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
}

@media (max-width: 500px) {
  .navlink {
    width: 15%;
    font-size: 15px;
  }

}
